@import './reset';
@import './vars';
@import './mixins';

/* Animation */
@keyframes rolling {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-1.5em);
  }
  100% {
      transform: translateY(-3em);
  }
}

/* CSS Reset */
body {
  background-color: #1f3844;
  color: #f2f2f2;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.profile {
  background-image: url(../assets/profile.png);
  background-size: cover;
  background-position: center;
  padding-top: 56.25%;
}

.aboutMe {
  position: relative;
  padding: 5% 3%;
  
  $paddingBottom: 10%;

  &__header {
    padding-bottom: $paddingBottom;

    .aboutMe__title {
      font-size: 5vw;
      line-height: 1.5;
      font-style: italic;
      font-family: 'Black Han Sans', sans-serif;
      margin-bottom: 10px;

      .aboutMe__modifierWrap {
        display: inline-block;
        position: relative;
        vertical-align: top;
        height: 1.5em;
        overflow: hidden;
        padding-right: 0.5em;
        color: $highliteColor;
        margin-left: 0.3em;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          box-shadow: inset 0 0 5px 5px $masterColor;
          margin-left: -1em;
        }

        .aboutMe__modifier {
          animation-name: rolling;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-direction: reverse;

          li {
            text-shadow: 0.2em 0.2em 5px #000;
          }
        }
      }

      /* 이름 */
      .aboutMe__name {
        line-height: 1.2;
        margin-left: -0.3em;
        font-weight: $fontExtraBold;

        &--ko {
          font-size: 1.8em;
        }

        &--en {
          font-size: 0.8em;
        }
      }
    }

    /* 연락망 */
    .aboutMe__contact {
      margin-bottom: 25px;
      line-height: 1.6;

      dt {
        color: $highliteColor;
        float: left;
        width: 2em;
        font-size: 1.3rem;
      }

      dd {
        overflow: hidden;
        font-weight: $fontBold;
        margin-bottom: 0px;
        font-size: 1.2rem;
      }

      .contact__link a:hover {
        color: $highliteColor;
      }
    }

    .aboutMe__introduce {
      font-size: $fontSize;
      line-height: $lineHeight;
      margin-bottom: 22px;
      text-align: justify;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__section {
    padding-bottom: $paddingBottom;

    &:last-child {
      margin-bottom: 0;
    }

    &Title {
      color: $basicColor;
      border-top: 3px solid;
      margin-bottom: 25px;
      padding-top: 0.2em;
      letter-spacing: 0.2em;
      font-size: 1.2em;
      font-weight: $fontBold;
    }

    .aboutMe__timeline {
      position: relative;
      padding: 30px 0;

      &::before {
        content: "";
        width: 5px;
        height: 100%;
        background: #000;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        border-radius: 30px;
      }

      .timeline {
        &__event {
          text-align: center;
          font-size: 1.3rem;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          .timeline__title {
            display: inline-block;
            padding: 3px 20%;
            background-color: $highliteColor;
            border-radius: 16px;
            font-size: 1em;
            font-weight: $fontBold;
          }

          .timeline__body {
            background: $subColor;
            border-radius: 15px;
            font-size: 0.6em;
            padding: 30px 15px 15px;
            margin-top: -11px;
            line-height: 1.4;
            text-align: center;

            .timeline__content {
              .timeline__place {
                font-size: 1.3em;
                font-weight: $fontBold;
              }

              .timeline__position {
                color: #bbb;
                margin-bottom: 10px;
              }
            }
            
            .timeline__skills {
              padding-top: 1em;
              @include skill-set-style;
            }
          }
        }
      }
    }
    
    .aboutMe__projectList {
      .project {
        margin-bottom: 2em;
        border: 2px solid $subColor;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;

        &__picture {
          padding: 25% 0;

          &.wordHunter {
            background-image: url(../assets/WordHunter.png);
            background-size: cover;
          }

          &.portfolio {
            background-image: url(../assets/Portfolio.png);
            background-size: cover;
          }

          &.webGame {
            background-image: url(../assets/Webgame.png);
            background-size: cover;
          }
        }

        &__description {
          padding: 1em;
          background-color: $subColor;

          h3 {
            font-size: 1.2em;
            font-weight: $fontBold;
            margin-bottom: 0.5em;
          }

          p {
            font-size: $fontSize;
            line-height: $lineHeight;
            text-align: justify;
            margin-bottom: 0.7em;
          }

          .project__skills {
            @include skill-set-style;
            font-size: $fontSize;

            dt {
              margin-bottom: 0.3em;
            }

            dd {
              display: block;
              line-height: 1.5em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 849px) {
  .profile {
    position: fixed;
    left: 0;
    top: 0;
    width: 55vw;
    height: 100vh;
    padding: 0;
  }

  .aboutMe {
    margin-left: 55vw;

    &__header {
      .aboutMe__title {
        font-size: 2vw;
      }
    }
    .aboutMe__timeline {
      padding: 40px 0 120px;

      .timeline__event {
        width: 50%;
        position: relative;

        .timeline__body {
          text-align: justify;
        }

        &:nth-child(odd) {
          padding-right: 1.2em;
          text-align: right;
        
          &::before {
            content: "";
            border-width: 12px 0 12px 23px;
            border-style: solid;
            border-color: transparent transparent transparent #e8823a;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(-50%);
          }

          .timeline__title::after {
            content: "";
            display: inline-block;
            background-color: #f2f2f2;
            border: 13px double #e8823a;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%);
          }
        }

        &:nth-child(even) {
          margin-left: auto;
          margin-top: -80px;
          margin-bottom: -80px;
          padding-left: 1.2em;
          text-align: left;

          &::before {
            content: "";
            border-width: 12px 23px 12px 0;
            border-style: solid;
            border-color: transparent #e8823a transparent transparent;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(50%);
          }

          .timeline__title::after {
            content: "";
            display: inline-block;
            background-color: #f2f2f2;
            border: 13px double #e8823a;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-50%);
          }
        }
      }
    }
  }
}