@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 문단 */
/* Animation */
@keyframes rolling {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5em);
  }
  100% {
    transform: translateY(-3em);
  }
}

/* CSS Reset */
body {
  background-color: #1f3844;
  color: #f2f2f2;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.profile {
  background-image: url(images/07b3cbef0c372927926461b94c21164a-profile.png);
  background-size: cover;
  background-position: center;
  padding-top: 56.25%;
}

.aboutMe {
  position: relative;
  padding: 5% 3%;
}

.aboutMe__header {
  padding-bottom: 10%;
  /* 연락망 */
}

.aboutMe__header .aboutMe__title {
  font-size: 5vw;
  line-height: 1.5;
  font-style: italic;
  font-family: 'Black Han Sans', sans-serif;
  margin-bottom: 10px;
  /* 이름 */
}

.aboutMe__header .aboutMe__title .aboutMe__modifierWrap {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 1.5em;
  overflow: hidden;
  padding-right: 0.5em;
  color: #e8823a;
  margin-left: 0.3em;
}

.aboutMe__header .aboutMe__title .aboutMe__modifierWrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 5px 5px #1f3844;
  margin-left: -1em;
}

.aboutMe__header .aboutMe__title .aboutMe__modifierWrap .aboutMe__modifier {
  animation-name: rolling;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.aboutMe__header .aboutMe__title .aboutMe__modifierWrap .aboutMe__modifier li {
  text-shadow: 0.2em 0.2em 5px #000;
}

.aboutMe__header .aboutMe__title .aboutMe__name {
  line-height: 1.2;
  margin-left: -0.3em;
  font-weight: 800;
}

.aboutMe__header .aboutMe__title .aboutMe__name--ko {
  font-size: 1.8em;
}

.aboutMe__header .aboutMe__title .aboutMe__name--en {
  font-size: 0.8em;
}

.aboutMe__header .aboutMe__contact {
  margin-bottom: 25px;
  line-height: 1.6;
  font-size: 1.1em;
}

.aboutMe__header .aboutMe__contact dt {
  color: #e8823a;
  float: left;
  width: 2em;
}

.aboutMe__header .aboutMe__contact dd {
  overflow: hidden;
  font-weight: 700;
  margin-bottom: 0px;
}

.aboutMe__header .aboutMe__contact .contact__link a:hover {
  color: #e8823a;
}

.aboutMe__header .aboutMe__introduce {
  font-size: 0.9em;
  line-height: 1.4;
  margin-bottom: 22px;
  text-align: justify;
}

.aboutMe__header .aboutMe__introduce:last-child {
  margin-bottom: 0;
}

.aboutMe__section {
  padding-bottom: 10%;
}

.aboutMe__section:last-child {
  margin-bottom: 0;
}

.aboutMe__sectionTitle {
  color: #f2f2f2;
  border-top: 3px solid;
  margin-bottom: 25px;
  padding-top: 0.2em;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  font-weight: 700;
}

.aboutMe__section .aboutMe__timeline {
  position: relative;
  padding: 30px 0;
}

.aboutMe__section .aboutMe__timeline::before {
  content: "";
  width: 5px;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 30px;
}

.aboutMe__section .aboutMe__timeline .timeline__event {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.aboutMe__section .aboutMe__timeline .timeline__event:last-child {
  margin-bottom: 0;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__title {
  display: inline-block;
  padding: 3px 20%;
  background-color: #e8823a;
  border-radius: 16px;
  font-size: 1em;
  font-weight: 700;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__body {
  background: #2e6872;
  border-radius: 15px;
  font-size: 0.6em;
  padding: 30px 15px 15px;
  margin-top: -11px;
  line-height: 1.4;
  text-align: center;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__body .timeline__content .timeline__place {
  font-size: 1.3em;
  font-weight: 700;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__body .timeline__content .timeline__position {
  color: #bbb;
  margin-bottom: 10px;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__body .timeline__skills {
  padding-top: 1em;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__body .timeline__skills dt {
  color: #e8823a;
  font-weight: 700;
  font-size: 1.1em;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__body .timeline__skills dd {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}

.aboutMe__section .aboutMe__timeline .timeline__event .timeline__body .timeline__skills dd:last-child {
  margin-right: 0;
}

.aboutMe__section .aboutMe__projectList .project {
  margin-bottom: 2em;
  border: 2px solid #2e6872;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.aboutMe__section .aboutMe__projectList .project__picture {
  padding: 25% 0;
}

.aboutMe__section .aboutMe__projectList .project__picture.wordHunter {
  background-image: url(images/bda6fd7e3f592ecd2209311e8886bdcd-WordHunter.png);
  background-size: cover;
}

.aboutMe__section .aboutMe__projectList .project__picture.portfolio {
  background-image: url(images/d0d26fb19fcc04c7dc4ddcc94824f7a4-Portfolio.png);
  background-size: cover;
}

.aboutMe__section .aboutMe__projectList .project__picture.webGame {
  background-image: url(images/ee04ba16a065ca752944ba8d47d504b4-Webgame.png);
  background-size: cover;
}

.aboutMe__section .aboutMe__projectList .project__description {
  padding: 1em;
  background-color: #2e6872;
}

.aboutMe__section .aboutMe__projectList .project__description h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.aboutMe__section .aboutMe__projectList .project__description p {
  font-size: 0.9em;
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 0.7em;
}

.aboutMe__section .aboutMe__projectList .project__description .project__skills {
  font-size: 0.9em;
}

.aboutMe__section .aboutMe__projectList .project__description .project__skills dt {
  color: #e8823a;
  font-weight: 700;
  font-size: 1.1em;
}

.aboutMe__section .aboutMe__projectList .project__description .project__skills dd {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}

.aboutMe__section .aboutMe__projectList .project__description .project__skills dd:last-child {
  margin-right: 0;
}

.aboutMe__section .aboutMe__projectList .project__description .project__skills dt {
  margin-bottom: 0.3em;
}

.aboutMe__section .aboutMe__projectList .project__description .project__skills dd {
  display: block;
  line-height: 1.5em;
}

@media (min-width: 849px) {
  .profile {
    position: fixed;
    left: 0;
    top: 0;
    width: 55vw;
    height: 100vh;
    padding: 0;
  }
  .aboutMe {
    margin-left: 55vw;
  }
  .aboutMe__header .aboutMe__title {
    font-size: 2vw;
  }
  .aboutMe .aboutMe__timeline {
    padding: 40px 0 120px;
  }
  .aboutMe .aboutMe__timeline .timeline__event {
    width: 50%;
    position: relative;
  }
  .aboutMe .aboutMe__timeline .timeline__event .timeline__body {
    text-align: justify;
  }
  .aboutMe .aboutMe__timeline .timeline__event:nth-child(odd) {
    padding-right: 1.2em;
    text-align: right;
  }
  .aboutMe .aboutMe__timeline .timeline__event:nth-child(odd)::before {
    content: "";
    border-width: 12px 0 12px 23px;
    border-style: solid;
    border-color: transparent transparent transparent #e8823a;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-50%);
  }
  .aboutMe .aboutMe__timeline .timeline__event:nth-child(odd) .timeline__title::after {
    content: "";
    display: inline-block;
    background-color: #f2f2f2;
    border: 13px double #e8823a;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
  }
  .aboutMe .aboutMe__timeline .timeline__event:nth-child(even) {
    margin-left: auto;
    margin-top: -80px;
    margin-bottom: -80px;
    padding-left: 1.2em;
    text-align: left;
  }
  .aboutMe .aboutMe__timeline .timeline__event:nth-child(even)::before {
    content: "";
    border-width: 12px 23px 12px 0;
    border-style: solid;
    border-color: transparent #e8823a transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(50%);
  }
  .aboutMe .aboutMe__timeline .timeline__event:nth-child(even) .timeline__title::after {
    content: "";
    display: inline-block;
    background-color: #f2f2f2;
    border: 13px double #e8823a;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
  }
}

